@import "utils/variables";

.card-player{
    display: flex;
    background-color: $color-2;
    cursor: pointer;
    border-radius: 5px;

    button{
        position: absolute;
        display: flex;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        opacity: 0;
        transition-duration: 0.2s;
        background-color: $color-1;
        border: 0;
        justify-content: center;
        align-items: center;

        i{
            display: flex;
            font-size: 2rem;
        }

        &:hover{
            transform: scale(1.15);
        }
    }

    &:hover{
        button{
            opacity: 1;
        }
    }
}

.player-small{
    display: flex;
    position: relative;
    align-items: center;
    padding-right: 5rem;


    .card-player-cover{
        display: flex;
        max-height: 5rem;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .card-player-text{
        margin-left: 1.25rem;
    }

    button{
        top: 25%;
        right: 1rem;
        justify-self: flex-end;
    }
}

.player-big{
    display: flex;
    flex-direction: column;
    max-width: 9rem;
    padding: 1rem;
    border-radius: 5px;

    &-container{
        position: relative;
    }

    .card-player-cover{
        max-width: 9rem;
        border-radius: 5px;
    }

    .card-player-text{
        margin-top: .5rem;

        &-subtitle{
            color: $color-6;
        }
    }

    button{
        bottom: .75rem;
        right: .5rem;
    }

}