/* ---------- FONT FAMILY ---------- */
$font-family-1: 'Poppins', sans-serif;

/* ---------- COLORS ---------- */
$color-1: #ceafff;
$color-2: #0d0222;
$color-3: #17072c;
$color-4: #fbf8ff;
$color-5: #4e2c83;
$color-6: #cac6ce;

/* ---------- FONT SIZES ---------- */
$font-size-main: .9rem;
$font-size-small: .8rem;
$font-size-xsmall: .75rem;

/* ---------- DECORATION STYLES ---------- */
$shadow-1: rgb(0 0 0 / 35%) 0px 8px 24px;
$shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$border-radius-1: .25rem;
$border-radius-2: .5rem;

/* ---------- ANIMATIONS ---------- */
$animation-1: 200ms;